[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Wenjin Wu<kevin.wu86@gmail.com>
  #%]

[%# INTERFACE:
  # user: hash containing "Bugzilla::User"
  #
  #%]


[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "Show Stats"
 %]

<p>Statistic Information for [% user.login FILTER html %]</p>

<table cellspacing="6">
  <tr>
    <th>Type</th>
    <th>Number#</th>
  </tr>

   [% FOREACH type IN all_bugs.keys.sort %]
     <tr>
      <td>
       [% type %]
        </a>
      </td>
      <td align="right">
      <a href="buglist.cgi?bug_id=[% all_bugs.$type.join(",") FILTER url_quote %]" >
          [% all_bugs.$type.size FILTER html %]
        </a> 
      </td>
    </tr>
   [% END %]
</table>

<p>Total Point: [% point FILTER html %]</p>
<p><a href = page.cgi?id=stats.html>Help with Point Stats</a> </p>

[% PROCESS global/footer.html.tmpl %]
